$fa-font-path: '../fonts/bebasneue';
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('#{$fa-font-path}/bebasneuethin.woff2') format('woff2'), url('#{$fa-font-path}/bebasneuethin.woff') format('woff'), url('#{$fa-font-path}/bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('#{$fa-font-path}/bebasneuelight.woff2') format('woff2'), url('#{$fa-font-path}/bebasneuelight.woff') format('woff'), url('#{$fa-font-path}/bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('BebasNeueBook'), url('#{$fa-font-path}/bebasneuebook.woff2') format('woff2'), url('#{$fa-font-path}/bebasneuebook.woff') format('woff'), url('#{$fa-font-path}/bebasneuebook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('#{$fa-font-path}/bebasneueregular.woff2') format('woff2'), url('#{$fa-font-path}/bebasneueregular.woff') format('woff'), url('#{$fa-font-path}/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('#{$fa-font-path}/bebasneuebold.woff2') format('woff2'), url('#{$fa-font-path}/bebasneuebold.woff') format('woff'), url('#{$fa-font-path}/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
