.login-box{
  background: #fff;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10%;
}
.login-box{
  .wdi-red{
    color: #DD3247;
  }
  .flat-input{
    margin-bottom: 50px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cccccc;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #81C027 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #81C027 4%);
    background-position: -500px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .flat-input:focus{
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    border-bottom: 0px;
  }
  .btn-login{
    border-radius: 0;
    background: #315A6E;
    color: #fff;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .btn-login:hover{
    background: transparent;
    border: 1px solid #315A6E;
    color: #315A6E;
  }
}